<ul>
  <li><a href="<%= page "index"  %>" title="FocusWorks.dev home page">Home</a></li>
  <li><a href="<%= base "posts" %>">Posts</a></li>
  <li><a href="https://phellow.focusworks.dev" title="A Trello-clone writting in Elixir with Phoenix LiveView">Phellow</a></li>
</ul>
